{% extends 'base.html.twig' %}

{% block head %}
	<!-- Flickity CSS -->
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/carousel_style.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/offres.css">
	{{ encore_entry_link_tags('searchInput') }}
	{{ encore_entry_link_tags('offres') }}
{% endblock %}


{% block body %}

	{% include "/extension/navBar.html.twig" %}

	<div class="bg-dark p-5">
		<div id="searchPoste" class="form_search mx-auto"></div>

	</div>

	<div class="container">

		<div class="mt-3 row">
			{% include "/home/carousel.html.twig" %}
		</div>

		<div id="offresRow" class="row col"></div>


	</div>

{% endblock %}

{% block javascripts %}

	<!-- Flickity JavaScript -->
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
	<script src="{{relative_path('/js/carousel.js')}}"></script>
	{{ encore_entry_script_tags('searchInput') }}
	{{ encore_entry_script_tags('offres') }}

{% endblock %}
