{% extends "base.html.twig" %}

{% block title %}Espace Candidat
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/offres.css">
	{{ encore_entry_link_tags("infoCandidat") }}
	{{encore_entry_link_tags("listFavories")}}
{% endblock %}

{% block body %}

	{% include "extension/navBar.html.twig" %}


	<div>


		<div class="row col">
			<div class="my-3 text-center">
				<h1>Mon Espace Candidat</h1>
				<p>{{ candidats.email }}</p>

			</div>
			<div
				class="col-sm-8 mx-auto">
				<!-- Tabs navs -->
				<ul class="nav nav-tabs mb-3 col-sm-6 mx-auto" id="ex1" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Mes candidatures</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Mes Favories</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Mes Coordonnées
						</a>
					</li>
				</ul>
				<!-- Tabs navs -->

				<!-- Tabs content -->
				<div class="tab-content" id="ex1-content">
					<div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
						<div class=" mx-auto">
							<table class="table table-hover  text-center">

								<caption>
									Listes des candidatures
								</caption>
								<thead class="table-light">
									<tr>
										<th scope="col">ID Offre</th>
										<th scope="col">Offres</th>
										<th scope="col">Disponible</th>
										<th scope="col">Reponse</th>
										<th scop="col">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for item in candidatures %}

										<th scope="row">{{item.idOffre}}</th>

										<td>{{item.offre}}</td>
										<td>{{item.disponible}}</td>
										<td>
											{% if item.reponse == "Candidature en cours" %}

												{% set color = "fw-bold text-warning" %}

											{% elseif item.reponse == "Accépté" %}

												{% set color = "fw-bold text-success" %}

											{% else %}

												{% set color = "fw-bold text-danger" %}

											{% endif %}
											<span class="{{color}}">{{item.reponse}}</span>


										</td>
										<td class="p-3 text-center">
											<a class="btn btn-primary btn-rounded my-auto" href="{{path('offre',{'id':item.idOffre})}}">voir l'offre</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
					<div id="listFavories" class="col-sm"></div>

				</div>
				<div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
					<div class="card p-1">
						<div class="card-body " id="reactDataCandidat"></div>
					</div>
				</div><!-- Tabs content --></div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags("infoCandidat") }}
	{{ encore_entry_script_tags("listFavories")}}


{% endblock %}
